<header>

    <nav>
        <span id="brand">
            <a href="index.php">NICOLAS DEV</a>
        </span>

        <ul id="menu">
            <li><a href="index.php">início<span>.</span></a></li>
            <li><a href="work.php">trampos<span>.</span></a></li>
            <li><a href="about.php">sobre mim<span>.</span></a></li>
            <li><a href="contact.php">contato<span>.</span></a></li>
        </ul>

        <div id="toggle">
            <div class="span">menu</div>
        </div>

    </nav>

    <div id="resize">
        <div class="close-btn">close</div>

        <ul id="menu">
            <li><a href="index.php">início<span>.</span></a></li>
            <li><a href="work.php">trampos<span>.</span></a></li>
            <li><a href="about.php">sobre mim<span>.</span></a></li>
            <li><a href="contact.php">contato<span>.</span></a></li>
        </ul>
    </div>

</header>